{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "cdp-api-hub"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">
        {%  for api in apis %}
          <div class="api">
            <h2>{{ api }}</h2>
            <a href="/hub/{{ hub }}/{{ api }}/view/redoc">View (redoc)</a>
            <a href="/hub/{{ hub }}/{{ api }}/view/scalar">View (scalar)</a>
            <br>
          </div>
        {%  endfor %}
      </div>
    </div>
  </div>

{% endblock %}
